.paragraph {
    color: blue;
    font-family: Verdana;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: center;
  }
  
.heading {
    font-family: Verdana;
    color: red;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.bg_image{
  background-image: url(../images/safe-913452_1280.jpg) no-repeat center fixed;
  background-size: cover;
 
}
.html {    
  background: url('https://cdn.bitdegree.org/learn/soap-colorful-color-fruit-68525.jpeg') no-repeat center fixed;     
  background-size: cover;
}

.normal {
  font-family: Verdana;
  color:black;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;