.paragraph {
    color: blue;
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
  }
  
.heading {
    font-family: Verdana;
    color: red;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}
